### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "./Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
# Show count and columns in csv
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [3]:
total_players = pd.DataFrame([{"Total Players": len(pd.unique(purchase_data['SN']))}])
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

In [4]:
purchase_data['Item Name'].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
Nirvana                                          9
                                                ..
The Decapitator                                  1
Gladiator's Glaive                               1
Exiled Mithril Longsword                         1
Ghost Reaver, Longsword of Magic                 1
Undead Crusader                                  1
Name: Item Name, Length: 179, dtype: int64

In [5]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [6]:
purchase_data['Price'].sum()

2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
number_of_unique_items = 179
average_price = 3.05
number_of_purchases = 780
total_revenue = 2379.77

In [8]:
total_purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items": number_of_unique_items, "Average Price": f"{'$'+str(average_price)}", "Number of Purchases": number_of_purchases, "Total Revenue": f"{'$'+str(total_revenue)}"}
])
total_purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender_df = purchase_data[["Gender", "SN"]].drop_duplicates()
clean_gender_df = gender_df["Gender"].value_counts()
clean_gender_df

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [10]:
total_players = 576
gender_demographics_df = pd.DataFrame({"Total Count": (clean_gender_df), 
                                       "Percentage of Players": (((clean_gender_df)/total_players)*100).round(2)
                                                                 })
# Used following site for help with % formatting
# https://stackoverflow.com/questions/23981601/format-certain-floating-dataframe-columns-into-percentage-in-pandas
gender_demographics_style = gender_demographics_df.style.format({'Percentage of Players': '{:.2f}%'})
gender_demographics_style


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# create dataframe that does not remove duplicates
duplicates_gender_df = purchase_data.groupby(['Gender'])
duplicates_gender_df

In [12]:
# purchase count by gender
gen_purchase_count = duplicates_gender_df['Purchase ID'].count()
gen_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [13]:
# To find average, must first find total purchase value 
gen_total_purchase = duplicates_gender_df['Price'].sum()
gen_total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [14]:
gen_avg_price = (gen_total_purchase/gen_purchase_count).round(2)
gen_avg_price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

In [15]:
gen_avg_price_per_person = (gen_total_purchase/clean_gender_df).round(2)
gen_avg_price_per_person

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [16]:
# create data frame to store info
gender_purchasing_analysis_df = pd.DataFrame({"Purchase Count": gen_purchase_count,
                                              "Average Purchase Price": gen_avg_price,
                                              "Total Purchase Value": gen_total_purchase,
                                              "Avg Total Purchase per Person": gen_avg_price_per_person
                                             })
gender_purchasing_analysis_df['Average Purchase Price'] = gender_purchasing_analysis_df['Average Purchase Price'].map("${:,.2f}".format)
gender_purchasing_analysis_df['Total Purchase Value'] = gender_purchasing_analysis_df['Total Purchase Value'].map("${:,.2f}".format)
gender_purchasing_analysis_df['Avg Total Purchase per Person'] = gender_purchasing_analysis_df['Avg Total Purchase per Person'].map("${:,.2f}".format)
gender_purchasing_analysis_df

# https://stackoverflow.com/questions/36604384/output-of-column-in-pandas-dataframe-from-float-to-currency-negative-values
# used the above site to help with currency formatting

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
# create bins 
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200.9]

# create labels for bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [19]:
# # Place the data series into a new column inside of the DataFrame
age_purchase_data = purchase_data
age_purchase_data["Age Group"] = pd.cut(age_purchase_data["Age"], bins, labels=group_labels)
age_purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [20]:
# Create a GroupBy object based upon "Age Group"
grouped_purchase_data = age_purchase_data.groupby("Age Group")
grouped_purchase_data

In [21]:
# # Drop duplicates
unique_ages = grouped_purchase_data["SN"].nunique()
unique_ages

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [22]:
player_percentage = ((unique_ages/total_players)*100).round(2)
player_percentage

Age Group
<10       2.95
10-14     3.82
15-19    18.58
20-24    44.79
25-29    13.37
30-34     9.03
35-39     5.38
40+       2.08
Name: SN, dtype: float64

In [23]:
# creat new dataframe
age_demographics = pd.DataFrame({"Total Count": unique_ages, 
                                       "Percentage of Players": player_percentage
                                                                 })
age_demographics_style = age_demographics.style.format({'Percentage of Players': '{:.2f}%'})
age_demographics_style

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
purchase_count = grouped_purchase_data["Age"].count()
purchase_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age, dtype: int64

In [25]:
avg_purchase_price = grouped_purchase_data["Price"].mean().round(2).map("${:,.2f}".format)
avg_purchase_price

Age Group
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29    $2.90
30-34    $2.93
35-39    $3.60
40+      $2.94
Name: Price, dtype: object

In [26]:
total_purchase_value = grouped_purchase_data["Price"].sum().round(2).map("${:,.2f}".format)
total_purchase_value

Age Group
<10         $77.13
10-14       $82.78
15-19      $412.89
20-24    $1,114.06
25-29      $293.00
30-34      $214.00
35-39      $147.67
40+         $38.24
Name: Price, dtype: object

In [27]:
avg_tot_purchase_person = ((grouped_purchase_data["Price"].sum())/unique_ages).round(2).map("${:,.2f}".format)
avg_tot_purchase_person

Age Group
<10      $4.54
10-14    $3.76
15-19    $3.86
20-24    $4.32
25-29    $3.81
30-34    $4.12
35-39    $4.76
40+      $3.19
dtype: object

In [28]:
# Create dataframe for calculations
purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": total_purchase_value,
                                    "Avg Total Purchase per Person": avg_tot_purchase_person
                                   })
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [134]:
# Do groupby according to SN on original dataframe

sn_groupby = purchase_data.groupby("SN")

# calculate purchase count
sn_purchase_count = sn_groupby["Purchase ID"].count()

# total purchase value
sn_tot_purchase_value = sn_groupby["Price"].sum()
# sn_tot_purchase_value = sn_groupby["Price"].sum().map("${:,.2f}".format)

# avg purchase price
sn_avg_purchase_price = ((sn_groupby["Price"].sum())/sn_purchase_count).round(2).map("${:,.2f}".format)

# Create df for calculations
top_spenders = pd.DataFrame({"Purchase Count": sn_purchase_count,
                             "Average Purchase Price": sn_avg_purchase_price,
                             "Total Purchase Value": sn_tot_purchase_value
                            })
# top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map("${:,.2f}".format)
top_spenders.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [80]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular_items = purchase_data [["Item ID", "Item Name", "Price"]]
popular_items

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [138]:
# Group by Item ID and Item Name. 
grouped_items = purchase_data.groupby(["Item ID", "Item Name"])

# Calculate purchase count, average item price, and total purchase value
pop_purchase_count = grouped_items["Price"].count()
pop_avg_item_price = grouped_items["Price"].mean().round(2).map("${:,.2f}".format)
pop_tot_purchase_value = grouped_items["Price"].sum()
# pop_tot_purchase_value = grouped_items["Price"].sum().round(2).map("${:,.2f}".format)

In [142]:
# Create df
popular_items_df = pd.DataFrame({"Purchase Count": pop_purchase_count,
                     "Item Price": pop_avg_item_price,
                     "Total Purchase Value": pop_tot_purchase_value})

In [143]:
# Sort the purchase count column in descending order
top_count = popular_items_df.sort_values("Purchase Count", ascending=False)
top_count.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
145,Fiery Glass Crusader,9,$4.58,41.22
132,Persuasion,9,$3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [144]:
# Sort the above table by total purchase value in descending order
highest_value = popular_items_df.sort_values("Total Purchase Value", ascending=False)
highest_value.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80

Based on the data, the number of male players greatly outnumber that of any other gender type at 84%. They also make the most purchases, accounting for a whopping 652 out of 850 total purchases.
Most players are in the 20-24 age group. This age group vastly outspends their counterparts having spent $1,114.06, while 15-19 year-olds spent only $412.89 as the second highest-revenue group.
The most popular item in both purchase count and total purchase value is Final Critic, followed closely by Oathbreaker, Last Hope of the Breaking Storm.
I also found it interesting that the maximum number of purchases made by a single user only totalled 5, equalling $18.96. One might assume that the company relies on a large customer base (as opposed to large purchases) for its revenue.